@include raif-make-grid-columns(8);

.raif-container {
  /*width: 1400px;*/
  /*width: calc(100% - #{rem(20px)});*/
  width: 100%;
  max-width: 1920px;
  /*max-width: 1430px;*/
  margin: 0 auto;

  &__inner {
    padding-left: rem(260px);
    padding-right: rem(260px);
    /*padding-left: rem(15px);
    padding-right: rem(15px);*/
  }
}

.html--dev {

  .raif-container {
    max-width: 1430px;

    &__inner {
      padding-left: rem(15px);
      padding-right: rem(15px);
    }
  }
}

.row {
  margin-right: rem(-15px);
  margin-left: rem(-15px);
}