html,
body {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: rgb(231, 228, 230);
    font-family: 'Arimo', sans-serif;
    color: #444;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-bottom: 12px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

a {
    text-decoration: none;
    font-family: inherit;
}

.link--white {
    color: #1FC1AD;
}

.main {
    border-radius: 3px;
    background: white;
    /* margin: 48px auto; */
    /* height:800px; */
    width: 100%;
    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    transition: all 250ms ease-in-out;
    /* transform: translate(0, 0) scale(.5); */
}

.main.in-focus {
    box-shadow: -48px 48px 48px 0px rgba(0, 0, 0, 0.1);
    transition: all 250ms ease-in-out;
    transform: translate(0, 0) scale(1);
    opacity: 1;
}

.resume__header {
    overflow: hidden;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #201E21;
    background: linear-gradient(90deg, #232526 10%, #414345 90%);
    padding: 12px;
}

.resume__header h2,
.resume__header h3,
.resume__header h4,
.resume__header a {
    color: white;
}

h2 span {
    font-weight: 100;
}

h3 {
    /* position: absolute; */
    /* top: 70px; */
    font-weight: 100;
    font-size: 20px;
}

h4 {
    /* position: absolute; */
    bottom: 14px;
    left: 12px;
    margin: 0;
    font-size: 18px;
}

a {
    font-size: 24px;
}

.resume__section {
    border: 1px solid #999;
    margin-bottom: 12px;
    padding: 12px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills__item {
    padding: 6px;
    background: #444444;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .2);
    color: #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    margin-top: 12px 0 0 0;

    display: flex;
    flex-direction: column;
    flex-basis: auto;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
    border-left: 4px solid rgba(0, 0, 0, .2);
}

.skills__item:hover {
    border-left: 4px solid #1FC1AD;
    transition: all 250ms ease-in-out;
}

.skills__image {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 245px;
}

.heading--section {
    background: #f1f1f1;
    border-left: 6px solid #1FC1AD;
    padding: 6px;
}

figcaption {
    margin-top: 15px;
}