$baseFontSize: 17px;

//colors
$black: #373737;
$black-two: #2b2828;
$brownish-grey: #636363;
$white: #ffffff;
$white2: #dddddd;
$greyish: #b0afaf;
$greyish-two:#afafaf;

$orange-red: #ff351b;



//fonts
$default: -apple-system, BlinkMacSystemFont, "PTSerif", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$futuraBook: "PTSerif", $default;
$futuraDemi: "PTSerif", $default;
$futuraNew: "PTSerif-Italic", $default;
