.tabs {
  margin: 0px;
	padding: 0px;
  list-style: none;
  background-color: $white;  

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  
  &-elem {
    border-radius: rem(4px);
    padding: rem(16px);
    cursor: pointer;

    color: $black54;
    font-family: $Montserrat, $default;
    font-style: normal;
    font-weight: normal;
    font-size: rem(16px);
    line-height: rem(24px);


    &:hover {
      background-color: $orange15;
      color: $black54;
    }
    &:active {
      background-color: $orange;
      color: $white;
      font-weight: 600;
    }

    &__active{
      background-color: $orange;
      color: $white;
      font-weight: 600;
    }
  }


  &-content {
		display: none;
	}

}


.tabs-content.tabs-elem__active{
  display: inherit;
  background-color: #fff;
  color: black;
  font-weight: normal;
}