// Bootstrap
@import "custom";
@import "~bootstrap/scss/bootstrap";
// Variables
@import "helpers/vars";
// Functions
@import "helpers/functions";
// Mixins
@import "helpers/mixins";
// Vendor
@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";
// @import "~select2/dist/css/select2";
// Fonts
@import "base/fonts";
//base
@import "base/common";
//Components
@import "components/coffee";
@import "components/device";
@import "components/animation";
//layout
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/margins";
//pages