@keyframes steam-active {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    16% {
        opacity: 1;
    }
    100% {
        transform: translateY(-5rem);
        opacity: 0;
    }
}

@keyframes coffee-type-inactive {
    0% {
        height: $coffee-type-height;
    }
    50% {
        height: $coffee-type-height;
    }
    100% {
        height: 0;
    }
}

@keyframes coffee-type-active {
    0% {
        height: 0;
    }
    50% {
        height: $coffee-type-height;
    }
    100% {
        height: $coffee-type-height;
    }
}

@keyframes coffee-rule-active {
    50% {
        opacity: 0;
        transform: scaleX(0);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

@keyframes cup-active {
    0% {
        transform: translateX(-2 * $coffee-cup-width);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes cup-inactive {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(2 * $coffee-cup-width);
    }
}

@keyframes coffee-labels-active {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.coffee-controls {
    transition: all 0.5s 0 $animation-easing;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 2rem;
    text-align: center;
    font-size: 1rem;
    transform: translateY(100%);
    opacity: 0;
}

[type="reset"] {
    transition: all 0.5s $animation-easing;
    display: block;
    position: relative;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    appearance: none;
    -moz-appearance: none;
    background: transparent;
    color: $color-text-light;
    border: 1px solid currentColor;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0;
    &:hover {
        color: $color-app;
        background: $color-text-light;
    }
}