.figure {
  margin: 10px;

  &__image {
    width: 279px;
    text-align: center;
  }

  &__figcaption {
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    color: $white;
    padding: 10px 0px;
  }
}
