.counter {
  color: $orange-red;
  padding-top: calc(20% + 10px);
  padding-left: 10px;

  @media only screen and (min-width: 768px) {
    padding-top: calc(15% + 10px);
  }
}
#counter {
  color: $white;
}

.btn {
  width: 9.6px;
  height: 18.6px;
  object-fit: contain;
}

.arrow-right{
  width: 9.6px;
  height: 18.6px;
  object-fit: contain;
}
.arrow-right{
  width: 9.6px;
  height: 18.6px;
  object-fit: contain;
}
