.SumoSelect p {
	margin: 0;
}
.styledSelect {
	// opacity: 0;
	border-width: 0px 0px 2px 0px;
	border-style: solid;
	border-color: #ababab;
	border-radius: 0px;
	background-color: $white;
	color: $orange-red;
	text-transform: uppercase;
	font-size: 16px;
}
.SlectBox {
	width: 200px;
	padding: 5px 8px;
}

.SelectClass {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	border: none;
	z-index: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}

.SumoSelect>.optWrapper>.options>li label,
.SumoSelect>.CaptionCont {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	box-sizing: border-box;
}

.SumoSelect {
	width: 100%;
	display: inline-block;
	position: relative;
	outline: none;
}

.SumoSelect>.CaptionCont {
	position: relative;
	border-radius: 0;
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #565656;
	padding-top: 2px;
	padding-bottom: 7px;
	padding-right: 25px;
    width: 100%;
    cursor: pointer;
	color: $orange-red;
}

.SumoSelect>.CaptionCont>span {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}

.SumoSelect>.CaptionCont>label {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 30px;
    cursor: pointer;
	transition: opacity 0.3s;
}
.SumoSelect>.CaptionCont.clicked>label>i  {
	transform: rotate(180deg);
}
.SumoSelect>.CaptionCont>label>i {
	width: 11px;
	height: 6px;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	background-repeat: no-repeat;
	opacity: 1;
	background-position: center;
	background-size: 100%;
	transition: all 0.3s;
  	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 1L6.5 7L1 1' stroke='%23565656' stroke-width='2'/%3E%3C/svg%3E");
}

.SumoSelect>.optWrapper {
	top: 30px;
	width: 100%;
	position: absolute;
	left: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: -100;
	background: #fff;
	overflow: hidden;
}

.SumoSelect>.optWrapper.open {
	top: 27px;
	visibility: visible;
	opacity: 1;
	z-index: 1000;
	box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
	padding: 25px;
}

.SumoSelect>.optWrapper>.options {
	list-style: none;
	display: block;
	padding: 0px;
	margin: 0px;
	overflow: auto;
	max-height: 300px;
}

.SumoSelect>.optWrapper.isFloating>.options {
	max-height: 100%;
}

.SumoSelect>.optWrapper>.options>li:hover {
	color: #00a75e;
}
.SumoSelect>.optWrapper>.options>li {
	position: relative;
	margin-bottom: 15px;
	transition: all 0.3s;
}
.SumoSelect>.optWrapper>.options>li:last-child {
	margin-bottom: 0;
}


.SumoSelect>.optWrapper>.options>li label {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	cursor: pointer;
	margin: 0;
	color: #565656;
}

.SumoSelect>.optWrapper>.options>li span {
	display: none;
}

.SumoSelect>.optWrapper.isFloating {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 90%;
	bottom: 0px;
	margin: auto;
	max-height: 90%;
}

.SumoSelect>.optWrapper>.options>li.disabled {
	background-color: inherit;
	pointer-events: none;
	display: none;
}

.SumoSelect>.optWrapper>.options>li.disabled * {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.SumoSelect>.optWrapper.multiple .options {
	margin-top: 0;
}

.SumoSelect>.optWrapper.multiple .options>li {
	padding-left: 32px;
	cursor: pointer;
	position: relative;
	padding-top: 1px;
	margin-bottom: 15px;
}
.SumoSelect>.optWrapper.multiple .options>li:last-child {
	margin-bottom: 0;
}

.SumoSelect>.optWrapper.multiple .options>li span,
.SumoSelect .select-all>span {
	position: absolute;
    display: block;
    width: 17px;
	height: 17px;
    top: 0;
    bottom: 0;
    left: 0;
		margin-top: 2px;
}

.SumoSelect>.optWrapper.multiple .options>li span i,
.SumoSelect .select-all>span i {
	position: absolute;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 17px;
	height: 17px;
	border: 1px solid #565656;
}

.SumoSelect>.optWrapper>.MultiControls {
	display: none;
	border-top: 1px solid #ddd;
	background-color: #fff;
}

.SumoSelect>.optWrapper.multiple.isFloating>.MultiControls {
	display: block;
	margin-top: 5px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.SumoSelect .optWrapper.multiple .MultiControls {
	display: none;
}

.SumoSelect>.optWrapper.multiple.okCancelInMulti>.MultiControls>p {
	padding: 6px;
}

.SumoSelect>.optWrapper.multiple>.MultiControls>p {
	display: inline-block;
	cursor: pointer;
	padding: 12px;
	width: 50%;
	box-sizing: border-box;
	text-align: center;
}

.SumoSelect>.optWrapper.multiple>.MultiControls>p:hover {
	background-color: #f1f1f1;
}

.SumoSelect>.optWrapper.multiple>.MultiControls>p.btnOk {
	border-right: 1px solid #DBDBDB;
	border-radius: 0px 0px 0px 3px;
}

.SumoSelect>.optWrapper.multiple>.MultiControls>p.btnCancel {
	border-radius: 0px 0px 3px 0px;
}

.SumoSelect>.optWrapper.isFloating>.options>li {
	padding: 12px 6px;
}

.SumoSelect>.optWrapper.multiple.isFloating>.options>li {
	padding-left: 35px;
}

.SumoSelect>.optWrapper.multiple.isFloating {
	padding-bottom: 43px;
}

.SumoSelect>.optWrapper.multiple .options>li.selected span i,
.SumoSelect .select-all.selected>span i,
.SumoSelect .select-all.partial>span i {
	box-shadow: none;
	background-repeat: no-repeat;
	background-position: center center;
  	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L4.36842 7L1 4' stroke='%2300A75E' stroke-width='2'/%3E%3C/svg%3E");
}

.SumoSelect.disabled {
    cursor: not-allowed;
    width: 100%;
    background: none;
    border-radius: 0;
    opacity: 1;
    margin: 0;
    text-align: left;
    padding: 0;
    height: auto;
	pointer-events: none;
	&::after {
		content: none;
	}
	label {
		opacity: 0;
	}
}

.SumoSelect.disabled>.CaptionCont {
	border-color: #565656;
	box-shadow: none;
}

.SumoSelect .select-all {
	margin-top: 13px;
	border-radius: 3px 3px 0px 0px;
	position: relative;
	background-color: #fff;
	padding: 8px 0px 3px 35px;
	font-size: 12px;
}

.SumoSelect .select-all>span i {
	cursor: pointer;
}

.SumoSelect .select-all.partial>span i {
	background-color: #ccc;
}

.SumoSelect>.optWrapper>.options>li.optGroup {
	padding-left: 5px;
	text-decoration: underline;
}
