#navigation-sticky-wrapper {
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 200;
  left: 0px;
}
#myVideo {
  height: 100vh;
  width: 100vw;
}
.row-title {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.row-socialLinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mdf-objects-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mdf-title {
  font-size: 8em;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  text-align: center;
  margin-top: 100px;

}
.mdf-span {
  color: white;
  font-size: 3em;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .mdf-title {
    font-size: 6.5em;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    text-align: center;
    margin-top:50px;
  }
  .mdf-span {
    color: white;
    font-size: 3em;
    margin: 20px 25% 0px;
    text-align: center;
  }
}
.awe-col {
  padding: 0px;
}
.mdf-item-wrap {
  background-color: black;
}
.awe-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.awe-image-container img {
  width: 250px;
}
.filters-link span {
  width: 200px;
  font-size: 1.5em;
  line-height: 4em;
}
.vacancies {
  display: flex;
  justify-content: center;
  align-self: center;
}
#block-md-alpine-module-footer {
  margin-top: 15px;
}

@media screen and (min-width: 767px) {
  .navbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


.wrapper {
  width: 85%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#background {
  width: 100vw;
  height: 100vh;
}
.img-back {
  height: 100vh;
  width: 100vw;
}